$input-color: rgba(0, 0, 0, 0.349);

body {
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  font-size: 0.8rem;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
}

.App {
  h1 {
    margin: 2rem 0 0 0;
    width: 100%;
    font-size: 2rem;
    font-weight: 700;
  }

  .welcome {
    padding: 0 1rem 0.25rem 0.5rem;
    margin: 2rem 0;
    color: rgba(0, 0, 0, 0.726);
  }

  .Code {
    background: #f2f2f2;
    padding: 0.125rem;
    border-radius: 0.125rem;
    font-family: monospace;
  }

  .Emoji {
    padding-right: 0.5rem;
  }

  .Input {
    margin: 0.25rem 0;
    padding: 0.5rem 0;
  }

  .Input:hover {
    outline-color: #f5f6fb;
  }

  .Input:focus {
    outline: none;
  }

  [contenteditable=true]:empty::before {
    content: attr(placeholder);
    pointer-events: none;
    color: $input-color;
  }
}

.Selected {
  background: #f5f6fb;
  border-radius: 0.5rem;
}

.reset-icon {
  cursor: pointer;
  position: absolute;
  left: 290px;
  top: 280px;

  img {
    width: 20px;
  }
}
